[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pymongo = "*"
ivozzo-pyboilerplate = "*"
dnspython = "*"
python-dotenv = "==0.15.0"

[dev-packages]

[requires]
python_version = "3.9"
